.App {
  text-align: center;
}


.logo-large {
  width: 80px; 
  height: auto; 
}

.img-fluidx {
  border-radius: 50%;
  width: 400px; /* Adjust the width as needed */
  height: 400px; /* Adjust the height as needed */
  object-fit: cover; /* Ensures the image covers the circular area without distortion */
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
